<!DOCTYPE html>
<html id="ng-app" xmlns:ng="http://angularjs.org" ng-app="demo" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="Angular jsvat">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,900&amp;subset=latin,cyrillic" type="text/css">
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/angular-jsvat/dist/angular-jsvat.js" type="text/javascript"></script>
    <script src="index.js" type="text/javascript"></script><!--[if lt IE 9]>
    <script src="bower_components/json3/lib/json3.min.js" type="text/javascript"></script><![endif]-->
    <title>Angular jsvat</title>
  </head>
  <body>
    <div id="content_view" class="container">
      <div id="demo_page" ng-controller="DemoPageCtrl">
        <h3>Global config</h3>
        <ul>
          <li>
            <button type="button" ng-click="globalConfig('united_kingdom')">UK</button>
          </li>
          <li>
            <button type="button" ng-click="globalConfig('spain')">Spain</button>
          </li>
          <li>
            <button type="button" ng-click="globalConfig('finland')">Finland</button>
          </li>
        </ul>
        <div ng-bind="getConfig()"></div>
        <ol>
          <li>
            <section>
              <h3>Common</h3>
              <input jsvat="result.common" type="text" ng-model="models.common">
              <div ng-bind="'IsValid: ' + result.common.isValid"></div>
              <div ng-bind="'Value: ' + result.common.value"></div>
              <div ng-bind="'Country: ' + result.common.country"></div>
              <button ng-click="models.common='EL000000141'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Linked models</h3>
              <input jsvat="result.linked" type="text" ng-model="models.linked">
              <div ng-bind="'IsValid: ' + result.linked.isValid"></div>
              <div ng-bind="'Value: ' + result.linked.value"></div>
              <div ng-bind="'Country: ' + result.linked.country"></div>
              <input jsvat="result.linked2" type="text" ng-model="models.linked">
              <div ng-bind="'IsValid: ' + result.linked2.isValid"></div>
              <div ng-bind="'Value: ' + result.linked2.value"></div>
              <div ng-bind="'Country: ' + result.linked2.country"></div>
              <button ng-click="models.linked='GB004123443'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined String</h3>
              <input jsvat="result.predefinedStr" type="text" ng-model="models.predefinedStr">
              <div ng-bind="'IsValid: ' + result.predefinedStr.isValid"></div>
              <div ng-bind="'Value: ' + result.predefinedStr.value"></div>
              <div ng-bind="'Country: ' + result.predefinedStr.country"></div>
              <button ng-click="models.predefinedStr='SK2020431710'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Empty String</h3>
              <input jsvat="result.predefinedEmptyStr" type="text" ng-model="models.predefinedEmptyStr">
              <div ng-bind="'IsValid: ' + result.predefinedEmptyStr.isValid"></div>
              <div ng-bind="'Value: ' + result.predefinedEmptyStr.value"></div>
              <div ng-bind="'Country: ' + result.predefinedEmptyStr.country"></div>
              <button ng-click="models.predefinedEmptyStr='SK2020431710'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Null String</h3>
              <input jsvat="result.predefinedNull" type="text" ng-model="models.predefinedNull">
              <div ng-bind="'IsValid: ' + result.predefinedNull.isValid"></div>
              <div ng-bind="'Value: ' + result.predefinedNull.value"></div>
              <div ng-bind="'Country: ' + result.predefinedNull.country"></div>
              <button ng-click="models.predefinedNull='SK2020431710'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Empty Object</h3>
              <input jsvat="result.predefinedEmptyObj" type="text" ng-model="models.predefinedEmptyObj">
              <div ng-bind="'IsValid: ' + result.predefinedEmptyObj.isValid"></div>
              <div ng-bind="'Value: ' + result.predefinedEmptyObj.value"></div>
              <div ng-bind="'Country: ' + result.predefinedEmptyObj.country"></div>
              <button ng-click="models.predefinedEmptyObj='SK2020431710'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Number Object</h3>
              <input jsvat="result.predefinedNumber" type="text" ng-model="models.predefinedNumber">
              <div ng-bind="'IsValid: ' + result.predefinedNumber.isValid"></div>
              <div ng-bind="'Value: ' + result.predefinedNumber.value"></div>
              <div ng-bind="'Country: ' + result.predefinedNumber.country"></div>
              <button ng-click="models.predefinedNumber='SK2020431710'">Set Value</button>
            </section>
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>