doctype html
html#ng-app(xmlns:ng='http://angularjs.org', ng-app='demo', lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='keywords', content='Angular jsvat')
        meta(http-equiv='Cache-Control', content='no-cache')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,900&subset=latin,cyrillic', type='text/css')
        script(src='bower_components/angular/angular.js', type='text/javascript')
        script(src='bower_components/angular-jsvat/dist/angular-jsvat.js', type='text/javascript')
        script(src='index.js', type='text/javascript')
        <!--[if lt IE 9]>
        script(src='bower_components/json3/lib/json3.min.js', type='text/javascript')
        <![endif]-->
        title Angular jsvat
    body
        #content_view.container
            #demo_page(ng-controller="DemoPageCtrl")
                h3 Global config
                ul
                    li
                        button(type="button", ng-click="globalConfig('united_kingdom')") UK
                    li
                        button(type="button", ng-click="globalConfig('spain')") Spain
                    li
                        button(type="button", ng-click="globalConfig('france')") France
                div(ng-bind="getConfig()")
                ol
                    li
                        section
                            h3 Common
                            input(jsvat="result.common", type="text", ng-model="models.common")
                            div(ng-bind="'IsValid: ' + result.common.isValid")
                            div(ng-bind="'Value: ' + result.common.value")
                            div(ng-bind="'Country: ' + result.common.country")
                            button(ng-click="models.common.value='EL000000141'") Set Value
                    //li
                    //    section
                    //        h3 Common (make sure no affects)
                    //        jsvat-input.some_class(jsvat-model="models.common2")
                    //        div(ng-bind="'IsValid: ' + models.common2.isValid")
                    //        div(ng-bind="'Value: ' + models.common2.value")
                    //        div(ng-bind="'Country: ' + models.common2.country")
                    //        button(ng-click="models.common2.value='ESA09130790'") Set Value
                    //li
                    //    section
                    //        h3 Linked models
                    //        input(jsvat, type="text", ng-model="models.linked")
                    //        div(ng-bind="'IsValid: ' + models.linked.isValid")
                    //        div(ng-bind="'Value: ' + models.linked.value")
                    //        div(ng-bind="'Country: ' + models.linked.country")
                    //        input(jsvat, type="text", ng-model="models.linked")
                    //        div(ng-bind="'IsValid: ' + models.linked.isValid")
                    //        div(ng-bind="'Value: ' + models.linked.value")
                    //        div(ng-bind="'Country: ' + models.linked.country")
                    //        button(ng-click="models.linked.value='GB004123443'") Set Value
                    //li
                    //    section
                    //        h3 Predefined String
                    //        jsvat-input.some_class(jsvat-model="models.predefinedStr")
                    //        div(ng-bind="'IsValid: ' + models.predefinedStr.isValid")
                    //        div(ng-bind="'Value: ' + models.predefinedStr.value")
                    //        div(ng-bind="'Country: ' + models.predefinedStr.country")
                    //        button(ng-click="models.predefinedStr.value='SK2020431710'") Set Value
                    //li
                    //    section
                    //        h3 Predefined Empty String
                    //        jsvat-input.some_class(jsvat-model="models.predefinedEmptyStr")
                    //        div(ng-bind="'IsValid: ' + models.predefinedEmptyStr.isValid")
                    //        div(ng-bind="'Value: ' + models.predefinedEmptyStr.value")
                    //        div(ng-bind="'Country: ' + models.predefinedEmptyStr.country")
                    //        button(ng-click="models.predefinedEmptyStr.value='PL5262823001'") Set Value
                    //li
                    //    section
                    //        h3 Predefined Object
                    //        jsvat-input.some_class(jsvat-model="models.predefinedObj")
                    //        div(ng-bind="'IsValid: ' + models.predefinedObj.isValid")
                    //        div(ng-bind="'Value: ' + models.predefinedObj.value")
                    //        div(ng-bind="'Country: ' + models.predefinedObj.country")
                    //        button(ng-click="models.predefinedObj.value='LV40003280118'") Set Value
                    //li
                    //    section
                    //        h3 Predefined Empty Object
                    //        jsvat-input.some_class(jsvat-model="models.predefinedEmptyObj")
                    //        div(ng-bind="'IsValid: ' + models.predefinedEmptyObj.isValid")
                    //        div(ng-bind="'Value: ' + models.predefinedEmptyObj.value")
                    //        div(ng-bind="'Country: ' + models.predefinedEmptyObj.country")
                    //        button(ng-click="models.predefinedEmptyObj.value='IE0000020F'") Set Value
                    //li
                    //    section
                    //        h3 Predefined Shit
                    //        jsvat-input.some_class(jsvat-model="models.predefinedNumberObj")
                    //        div(ng-bind="'IsValid: ' + models.predefinedNumberObj.isValid")
                    //        div(ng-bind="'Value: ' + models.predefinedNumberObj.value")
                    //        div(ng-bind="'Country: ' + models.predefinedNumberObj.country")
                    //        button(ng-click="models.predefinedNumberObj.value='FR47000000141'") Set Value
                    //li
                    //    section
                    //        h3 All Atrs
                    //        jsvat-input(
                    //        name="my_vat"
                    //        jsvat-model="models.allAtrs"
                    //        required
                    //        readonly
                    //        disabled="disabled"
                    //        maxlength="10"
                    //        minlength="1"
                    //        size="5"
                    //        )
                    //        div(ng-bind="'IsValid: ' + models.allAtrs.isValid")
                    //        div(ng-bind="'Value: ' + models.allAtrs.value")
                    //        div(ng-bind="'Country: ' + models.allAtrs.country")
                    //        button(ng-click="models.allAtrs.value='EL000000141'") Set Value
                    //li
                    //    section
                    //        h3 Required
                    //        input(jsvat, type="text", ng-model="models.required" required)
                    //        div(ng-bind="'IsValid: ' + models.required.isValid")
                    //        div(ng-bind="'Value: ' + models.required.value")
                    //        div(ng-bind="'Country: ' + models.required.country")
                    //        button(ng-click="models.required.value='EL000000141'") Set Value
                    //li
                    //    section
                    //        h3 ngRequired
                    //        input(jsvat, type="text", ng-model="models.ngRequired" ng-required="true")
                    //        div(ng-bind="'IsValid: ' + models.ngRequired.isValid")
                    //        div(ng-bind="'Value: ' + models.ngRequired.value")
                    //        div(ng-bind="'Country: ' + models.ngRequired.country")
                    //        button(ng-click="models.ngRequired.value='EL000000141'") Set Value