doctype html
html#ng-app(xmlns:ng='http://angularjs.org', ng-app='demo', lang='en')
    head
        meta(charset='UTF-8')
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        meta(name='keywords', content='Angular jsvat')
        meta(http-equiv='Cache-Control', content='no-cache')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,900&subset=latin,cyrillic', type='text/css')
        script(src='bower_components/angular/angular.js', type='text/javascript')
        script(src='bower_components/angular-jsvat/dist/angular-jsvat.js', type='text/javascript')
        script(src='index.js', type='text/javascript')
        <!--[if lt IE 9]>
        script(src='bower_components/json3/lib/json3.min.js', type='text/javascript')
        <![endif]-->
        title Angular jsvat
    body
        #content_view.container
            #demo_page(ng-controller="DemoPageCtrl")
                h3 Global config
                ul
                    li
                        button(type="button", ng-click="globalConfig('united_kingdom')") UK
                    li
                        button(type="button", ng-click="globalConfig('spain')") Spain
                    li
                        button(type="button", ng-click="globalConfig('finland')") Finland
                div(ng-bind="getConfig()")
                ol
                    li
                        section
                            h3 Common
                            input(jsvat="result.common", type="text", ng-model="models.common")
                            div(ng-bind="'IsValid: ' + result.common.isValid")
                            div(ng-bind="'Value: ' + result.common.value")
                            div(ng-bind="'Country: ' + result.common.country")
                            button(ng-click="models.common='EL000000141'") Set Value
                    li
                        section
                            h3 Linked models
                            input(jsvat="result.linked", type="text", ng-model="models.linked")
                            div(ng-bind="'IsValid: ' + result.linked.isValid")
                            div(ng-bind="'Value: ' + result.linked.value")
                            div(ng-bind="'Country: ' + result.linked.country")
                            input(jsvat="result.linked2", type="text", ng-model="models.linked")
                            div(ng-bind="'IsValid: ' + result.linked2.isValid")
                            div(ng-bind="'Value: ' + result.linked2.value")
                            div(ng-bind="'Country: ' + result.linked2.country")
                            button(ng-click="models.linked='GB004123443'") Set Value
                    li
                        section
                            h3 Predefined String
                            input(jsvat="result.predefinedStr", type="text", ng-model="models.predefinedStr")
                            div(ng-bind="'IsValid: ' + result.predefinedStr.isValid")
                            div(ng-bind="'Value: ' + result.predefinedStr.value")
                            div(ng-bind="'Country: ' + result.predefinedStr.country")
                            button(ng-click="models.predefinedStr='SK2020431710'") Set Value
                    li
                        section
                            h3 Predefined Empty String
                            input(jsvat="result.predefinedEmptyStr", type="text", ng-model="models.predefinedEmptyStr")
                            div(ng-bind="'IsValid: ' + result.predefinedEmptyStr.isValid")
                            div(ng-bind="'Value: ' + result.predefinedEmptyStr.value")
                            div(ng-bind="'Country: ' + result.predefinedEmptyStr.country")
                            button(ng-click="models.predefinedEmptyStr='SK2020431710'") Set Value
                    li
                        section
                            h3 Predefined Null String
                            input(jsvat="result.predefinedNull", type="text", ng-model="models.predefinedNull")
                            div(ng-bind="'IsValid: ' + result.predefinedNull.isValid")
                            div(ng-bind="'Value: ' + result.predefinedNull.value")
                            div(ng-bind="'Country: ' + result.predefinedNull.country")
                            button(ng-click="models.predefinedNull='SK2020431710'") Set Value
                    li
                        section
                            h3 Predefined Empty Object
                            input(jsvat="result.predefinedEmptyObj", type="text", ng-model="models.predefinedEmptyObj")
                            div(ng-bind="'IsValid: ' + result.predefinedEmptyObj.isValid")
                            div(ng-bind="'Value: ' + result.predefinedEmptyObj.value")
                            div(ng-bind="'Country: ' + result.predefinedEmptyObj.country")
                            button(ng-click="models.predefinedEmptyObj='SK2020431710'") Set Value
                    li
                        section
                            h3 Predefined Number Object
                            input(jsvat="result.predefinedNumber", type="text", ng-model="models.predefinedNumber")
                            div(ng-bind="'IsValid: ' + result.predefinedNumber.isValid")
                            div(ng-bind="'Value: ' + result.predefinedNumber.value")
                            div(ng-bind="'Country: ' + result.predefinedNumber.country")
                            button(ng-click="models.predefinedNumber='SK2020431710'") Set Value