<!DOCTYPE html>
<html id="ng-app" xmlns:ng="http://angularjs.org" ng-app="demo" lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="keywords" content="Angular jsvat">
    <meta http-equiv="Cache-Control" content="no-cache">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,900&amp;subset=latin,cyrillic" type="text/css">
    <script src="bower_components/angular/angular.js" type="text/javascript"></script>
    <script src="bower_components/angular-jsvat/dist/angular-jsvat.js" type="text/javascript"></script>
    <script src="index.js" type="text/javascript"></script><!--[if lt IE 9]>
    <script src="bower_components/json3/lib/json3.min.js" type="text/javascript"></script><![endif]-->
    <title>Angular jsvat</title>
  </head>
  <body>
    <div id="content_view" class="container">
      <div id="demo_page" ng-controller="DemoPageCtrl">
        <h3>Global config</h3>
        <ul>
          <li>
            <button type="button" ng-click="globalConfig('united_kingdom')">UK</button>
          </li>
          <li>
            <button type="button" ng-click="globalConfig('spain')">Spain</button>
          </li>
          <li>
            <button type="button" ng-click="globalConfig('france')">France</button>
          </li>
        </ul>
        <div ng-bind="getConfig()"></div>
        <ol>
          <li>
            <section>
              <h3>Common</h3>
              <jsvat-input jsvat-model="models.common"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.common.isValid"></div>
              <div ng-bind="'Value: ' + models.common.value"></div>
              <div ng-bind="'Countries: ' + models.common.countries"></div>
              <button ng-click="models.common.value='EL000000141'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Common (make sure no affects)</h3>
              <jsvat-input jsvat-model="models.common2" class="some_class"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.common2.isValid"></div>
              <div ng-bind="'Value: ' + models.common2.value"></div>
              <div ng-bind="'Countries: ' + models.common2.countries"></div>
              <button ng-click="models.common2.value='ESA09130790'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Linked models</h3>
              <jsvat-input jsvat-model="models.linked"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.linked.isValid"></div>
              <div ng-bind="'Value: ' + models.linked.value"></div>
              <div ng-bind="'Countries: ' + models.linked.countries"></div>
              <jsvat-input jsvat-model="models.linked"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.linked.isValid"></div>
              <div ng-bind="'Value: ' + models.linked.value"></div>
              <div ng-bind="'Countries: ' + models.linked.countries"></div>
              <button ng-click="models.linked.value='GB004123443'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined String</h3>
              <jsvat-input jsvat-model="models.predefinedStr" class="some_class"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.predefinedStr.isValid"></div>
              <div ng-bind="'Value: ' + models.predefinedStr.value"></div>
              <div ng-bind="'Countries: ' + models.predefinedStr.countries"></div>
              <button ng-click="models.predefinedStr.value='SK2020431710'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Empty String</h3>
              <jsvat-input jsvat-model="models.predefinedEmptyStr" class="some_class"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.predefinedEmptyStr.isValid"></div>
              <div ng-bind="'Value: ' + models.predefinedEmptyStr.value"></div>
              <div ng-bind="'Countries: ' + models.predefinedEmptyStr.countries"></div>
              <button ng-click="models.predefinedEmptyStr.value='PL5262823001'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Object</h3>
              <jsvat-input jsvat-model="models.predefinedObj" class="some_class"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.predefinedObj.isValid"></div>
              <div ng-bind="'Value: ' + models.predefinedObj.value"></div>
              <div ng-bind="'Countries: ' + models.predefinedObj.countries"></div>
              <button ng-click="models.predefinedObj.value='LV40003280118'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Empty Object</h3>
              <jsvat-input jsvat-model="models.predefinedEmptyObj" class="some_class"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.predefinedEmptyObj.isValid"></div>
              <div ng-bind="'Value: ' + models.predefinedEmptyObj.value"></div>
              <div ng-bind="'Countries: ' + models.predefinedEmptyObj.countries"></div>
              <button ng-click="models.predefinedEmptyObj.value='IE0000020F'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Predefined Shit</h3>
              <jsvat-input jsvat-model="models.predefinedNumberObj" class="some_class"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.predefinedNumberObj.isValid"></div>
              <div ng-bind="'Value: ' + models.predefinedNumberObj.value"></div>
              <div ng-bind="'Countries: ' + models.predefinedNumberObj.countries"></div>
              <button ng-click="models.predefinedNumberObj.value='FR47000000141'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>All Atrs</h3>
              <jsvat-input name="my_vat" jsvat-model="models.allAtrs" required readonly disabled="disabled" maxlength="10" minlength="1" size="5"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.allAtrs.isValid"></div>
              <div ng-bind="'Value: ' + models.allAtrs.value"></div>
              <div ng-bind="'Countries: ' + models.allAtrs.countries"></div>
              <button ng-click="models.allAtrs.value='EL000000141'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>Required</h3>
              <jsvat-input jsvat-model="models.required" required></jsvat-input>
              <div ng-bind="'IsValid: ' + models.required.isValid"></div>
              <div ng-bind="'Value: ' + models.required.value"></div>
              <div ng-bind="'Countries: ' + models.required.countries"></div>
              <button ng-click="models.required.value='EL000000141'">Set Value</button>
            </section>
          </li>
          <li>
            <section>
              <h3>ngRequired</h3>
              <jsvat-input jsvat-model="models.ngRequired" ng-required="true"></jsvat-input>
              <div ng-bind="'IsValid: ' + models.ngRequired.isValid"></div>
              <div ng-bind="'Value: ' + models.ngRequired.value"></div>
              <div ng-bind="'Countries: ' + models.ngRequired.countries"></div>
              <button ng-click="models.ngRequired.value='EL000000141'">Set Value</button>
            </section>
          </li>
        </ol>
      </div>
    </div>
  </body>
</html>